table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

/* Assigning width ratios to each column */
table th.id {
  width: 30%;
}

table th.name {
  width: 40%;
}

table :is(
th.price,
th.qty,
th.subtotal) {
  width: 10%;   
}

/*
It is necessary to mention the parent container's class name in order to override
the padding value that was inherited from the workspace-container class
*/
.workspace-container table tbody tr td {
  padding: .75em;
  
  border-style: solid;
  border-color: white;
}

/* Apply upper and lower borders to all rows except the first and last two */
table tbody tr:not(:first-child):not(:nth-last-child(2)):not(:last-child) td {
  border-width: .15em 0 .15em 0;     
}

/* Apply only lower border to first child */
table tbody tr:first-child td {
  border-width: 0 0 .15em 0;     
}

/* Apply only upper border to second-to-last child */
table tbody tr:nth-last-child(2) td {
  border-width: .15em 0 0 0;
}

table tbody tr>:last-child {
  text-align: right;
}

.workspace-container table th {
  border-style: solid;
  border-width: 0 0 .1em 0;
  border-color: rgb(150, 150, 150);

  padding: .75em;
  font-size: large;
}

.workspace-container table tbody tr:last-child * {
  border-style: solid;
  border-width: 0.1em 0 0 0;
  border-color: rgb(150, 150, 150);
  
  font-size: large;
  font-weight: bold;
}

table th:last-child {
  text-align: right;
}

table tbody :is(
tr:not(:last-child):hover,
tr:not(:last-child):active,
tr.selected) {
  border-style: solid;
  border-width: 0 .1em 0 .1em;
}

table tbody tr:not(:last-child):hover {
  background-color: rgb(240, 240, 240);
}

table tbody tr.selected {
  font-weight: bold;
  font-size: 1.15em;
  background-color: lightgray;
}

table tbody tr:not(:last-child):active {
  opacity: .5;
}