/*  Reset all styling that some browsers may impose by default */
* {
  margin: 0;
  padding: 0;

  /*
  Fixes bug where html element would not occupy the entire screen at smaller dimensions.
  This was affecting the banner's width since it was no longer occupying the entire window.

  Refer https://stackoverflow.com/questions/11801752/html-body-and-div-set-at-100-width-but-its-still-not-taking-the-full-100
  */
  overflow: auto;
}

body {
  font: 14px "Trebuchet MS", Futura, sans-serif;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-both {
  width: 100%;
  height: 100%;
}

.root-container {
  width: 100vw;
  min-width: 100vw;

  /* 
  If we wish to set any element's height to be a percentage of the parent element's height, 
  it will be necessary to declare the root div's height to be the entire viewport's height.
  This will allow us to use a percentage value for the banner's height. The alternative 
  to this method is to use an absolute pixel value for the banner's height
  
  Refer https://stackoverflow.com/questions/7049875/why-doesnt-height-100-work-to-expand-divs-to-the-screen-height
  */

  height: 100vh;
  min-height: 100vh;

  /* display: inline; */
}

.workspace-container {
  padding: 20px;
  
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2%;

  /*
  Adding padding and setting width at 100% simultaneously seems to cause the workspace div to overflow.
  This creates a visual bug with the banner where it does not extend across the entire scrollable width.
  In other words, a dead space can be seen to the right of the banner when scrolling right
  */

  /* width: 100%; */
  height: 100%;
}

.banner {
  width: 100%;
  height: 40px; /* setting banner height */
  
  background-color: black;
  color: white;
  
  padding-left: 20px;
  margin: 0;

  /* Center the contents of the banner along the horizontal axis */
  display: flex;
  align-items: center;
}

.header {
  margin: 0;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 2%;
}

.workspace-container * {
  padding: 5px;
}

.centered-label {
  display: flex;
  justify-content: center;
  margin: 1%;
  text-align: center;
}

/* 
NewItem CSS 
TODO: Refactor into its own file
*/

.rounded-border {
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 10px;
}

.add-item-container {
  display: grid;
  grid-template-columns: 2fr 3fr 7fr 2fr 1fr;
  column-gap: 2%;
}

.details-container li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2%;
}